@import url("reset.css");

.title {
	color: blueviolet;
}

div.head {
	color: rgb(255, 115, 0);
}

h2 {
	color: blueviolet;
}

.blok-1 p {
	color: brown;
}

.text-1,
.text-2 {
	color: aqua;
}

.block-2>p {
	color: blue;
}

.tex-3 {
	color: brown;
}

.marker-1,
.marker-2 {
	color: black;
}