@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("reset.css");

header {
	background-color: rgb(83, 83, 83);
	font-family: Manrope, sans-serif;
	margin-bottom: 20px;
	padding: 20px 0px;
}

.title {
	color: rgb(159, 201, 187);
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 20px;
	text-shadow: 3px 3px 4px #e7dede73;
	font-size: 35px;
	margin-bottom: 15px;
}

.list {
	width: 100px;
	background-color: rgb(61, 58, 58);
	margin: 0 auto;
	padding: 5px;
}

.list li {

	font-weight: 400;
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 5px;
	line-height: 140%;
}

.list a {
	display: inline-block;
	text-decoration: underline;
	text-decoration-color: rgb(159, 201, 187);
	text-decoration-thickness: 3px;
}

.wrapper-model-1 {
	background-color: var(--Black-08, #141414);
	font-family: Manrope, sans-serif;
}

.container-model-1 {
	width: 1597px;
	margin: 0 auto;
}

.title-model-1 h2 {
	color: var(--Absolute-White, #FFF);
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 14px;
}

.title-model-1 p {
	color: var(--Grey-60, #999);
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 80px;
}

.block-items {
	font-size: 0;
	margin: 0 -15px;
}

.items {
	width: 33.333%;
	display: inline-block;
	margin-bottom: 30px;
	padding: 0 15px;
}

.item {
	padding: 50px;
	border-radius: 12px;
	border: 1px solid var(--Black-15, #262626);
	background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;
	color: var(--Grey-60, #999);
	font-size: 18px;
	font-weight: 400;
}

.title-item {
	margin-block-end: 30px;
}

.title-item h3 {
	display: inline-block;
	color: #FFF;
	font-size: 24px;
	font-weight: 600;
}

.title-item img {
	border-radius: 12px;
	border: 1px solid var(--Black-12, #1F1F1F);
	background: var(--Black-08, #141414);
	padding: 16px;
	margin-inline-end: 16px;
	vertical-align: middle;
}

.wrapper-model-2 {
	background-color: #FBFBFD;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	margin-top: 20px;
}

.container-model-2 {
	width: 70%;
	margin: 0 auto;

}

.container-model-2 h2 {
	color: var(--Colour-Main-Blue-900, #091133);
	font-feature-settings: 'liga' off, 'clig' off;
	font-size: 50px;
	font-weight: 500;
	line-height: 66px;
	letter-spacing: 1px;
	max-width: 539px;
	margin-block-end: 20px;
}

.container-model-2 p {
	color: var(--Colour-Main-Blue-500, #505F98);
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: Roboto;
	font-weight: 400;
	line-height: 30px;
	max-width: 539px;
	margin-bottom: 15px;
}

.text-model-2 {
	margin-bottom: 76px;
}

.button-1,
.button-2 {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	width: 189px;
	text-align: center;
}

.button-1 {
	color: var(--colour-secondary-white-100-general, #FFF);
	border-radius: 2px;
	background: var(--Colour-Main-Blue-800, #111B47);
	padding-block: 5px;
	margin: 0 30px 0 0;
}

.button-2 {
	border-radius: 2px;
	border: 2px solid var(--Colour-Main-Blue-900, #091133);
	color: var(--Colour-Main-Blue-900, #091133);
	padding-block: 5px;
}

.box-button {
	margin-bottom: 50px;
}

.container-model-3 {
	width: 70%;
	margin: 0 auto;
}

.title-model-3 {
	width: 520px;
	color: var(--Colour-Main-Blue-900, #091133);
	font-feature-settings: 'liga' off, 'clig' off;
	font-size: 36px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 16px;
}

.text-model-3 p {
	width: 520px;
	color: var(--Colour-Main-Blue-400, #6F7CB2);
	font-feature-settings: 'liga' off, 'clig' off;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 15px;
}

.text-model-3 {
	margin-bottom: 70px;
}

.container-items {
	width: 70%;
	margin: 0 auto;
}

.items-model-3 {
	margin-inline: -15px;
	font-size: 0;
	width: 550px;
	margin-block-end: 40px;
}

.item-model-3 {
	width: 245px;
	font-size: 12px;
	display: inline-block;
	padding: 0 15px;
	text-align: left;
	margin: 0 30px 30px 0;
}

.item-model-3 img {
	margin-block-end: 14px;
}

.item-model-3 h3 {
	color: var(--Colour-Main-Blue-900, #091133);
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	margin-block-end: 6px;
}

.item-model-3 p {
	color: var(--Colour-Main-Grey-600, #5D6970);
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

footer {
	width: 10%;
	margin: 0 auto;
}

.finish {
	width: 200px;
	font-family: Manrope, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: #3c52b3;
}