@font-face {
	font-family: "Irpin Type";
	src: url("../fonts/IrpinType-Regular.woff2") format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Irpin Type";
	src: url("../fonts/IrpinType-Bold.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}